._header {
  /* background-color: #2f2f2f; */
  width: 10%;
  height: 100%;
  position: fixed;
  z-index: 9999999;
  background-color: rgba(134, 160, 160, 0);
  display: flex;
  align-items: center;
}

.header_list {
  /* background-color: #2f2f2f; */
  /* height: 100%; */
  padding: 0;
  width: 100%;
  margin: 0;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");

.header_list li {
  font-family: "Work Sans", sans-serif;
  color: white;
  border: 0px;
  padding-left: 3vw;
  width: 3vw;
  min-height: 50px;
  height: 3vh;
  width: 100%;
  align-items: center;
  display: flex;
}

.header_list li:hover {
  border-left: 5px solid #6dd4ca;
  color: #6dd4ca;
}
